{% extends 'org_base.html' %}
{% block title %}
慕课网教师列表 - 慕学网
{% endblock %}
{% block break %}
机构教师
{% endblock %}
{% block right %}
<div class="right companycenter layout" >
        <div class="head">
            <h1>机构讲师</h1>
        </div>
        <div class="messagelist">
            <div class=" butler_list butler-fav-box">

                            {% load pagination_tags %}
        {% autopaginate all_teachers 1 %}
            {% for teacher in all_teachers %}
            <dl class="des users">
                    <dt>
                        <a href="">
                        <img width="100" height="100" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ teacher.headshot }}" src="{{ MEDIA_URL }}{{ teacher.headshot }}"/>
                        </a>
                    </dt>
                    <dd>
                        <h1>
                            <a href="">
                            <span class="key">已认证</span>
                            {{ teacher.name }}</a>
                        </h1>
                        <ul class="cont clearfix">
                            <li class="time">工作年限：<span>{{ teacher.work_years }}年</span></li>
                            <li class="c7">课程数：<span>{{ teacher.courses_set.all.count }}</span></li>
                        </ul>
                    </dd>
                </dl>
            {% endfor %}
                {% paginate using 'pagination/custom_pagination.html' %}


            </div>
        </div>
    </div>
{% endblock %}
